<footer>
    <div class="row">
        <div class="column1">
            <img src="assets\images\ngcat.jpg" alt="" srcset="">
            <br>
            <br>
            Office : 56B, 2nd Floor, DDA Flats, Shahpur Jat, Delhi - 110049
            <br>
            Email : info@hotelkat.com
            <br>
            Phone : +91 123456789
           

        </div>
        <div class="column2 text-data">
            <ul>
                <li><a href="#">About us</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Join Us</a></li>
                <li><a href="#">Refer & Earn</a></li>
                <li><a href="#">Android</a></li>
            </ul>
        </div>
        <div class="column3 text-data">
                <ul>
                    <li><a href="#">Get Your Hotel Listed</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Refunds/Cancellations</a></li>
                </ul>
        </div>
        <!-- <div class="col span-1-of-2 c1">
            <ul class="social-icons">
                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                <li><a href="#"><i class="ion-social-instagram"></i></a></li>
            </ul>
        </div> -->
        
    </div>

    <div class="row " style="padding-top:30px ;
        position: relative;
        top: 17px;">
        <p>
            © 2019, Hotelkat. All right reserved
        </p>
    </div>
</footer>