
<div>
    <mat-card class="empty-cart mat-elevation-z8">

        <mat-card-title>
           Booking Failed
        </mat-card-title>
     
      <div style="margin-top: 50px; margin-bottom: 50px;">

        It Appears Something Went Wrong Please Try again!.


        <mat-card-content>
            <img style="margin-bottom: 20px; margin-top: 20px;"
              src="assets/images/cross.png"
              alt="empty-cart"
              width="200"
              height="200"
            />


            <div class="back_button">

                <button (click)="cancel()" style="background: rgb(69,123,72);color: white; width: 20;width: 142px;
                height: 51px;" > GO BACK TO HOMEPAGE </button>
            </div>
      </mat-card-content>





    </div>
      
    
    
    </mat-card>
  </div>

